.navbar {
    background-color: rgb(243, 212, 134) !important;
}

.container {
    text-emphasis-color: black;
    text-decoration-line: underline;
    text-decoration-color: black;
    background-color: rgb(243, 212, 134);
}
.jumbotron {
    background-color: rgb(229, 182, 64);
    
}
#myImg {
    width: 150px;
    height: 150px;
}